.colonyInput {
  border: none;
  padding: 5px 10px;
  font-family: monospace;
}

.inputLabel {
  padding: 5px 10px;
  width: 70px;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: right;
  border-radius: 0;
}

.colonyContainer:after {
  content: "";
  display: table;
  clear: both;
}

.notesTitle {
  font-weight: bold;
  border-top: 1px solid gray;
  padding: 5px 10px;
}

.notesContent {
  padding: 5px 10px;
  max-width: 300px;
}
