.methodContainer {
  max-width: 30rem;
  position: relative;
  display: inline-block;
}

.tagContainer {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  margin: 0.2rem 0.4rem 0.2rem 0;
  padding: 0.2rem 0.5rem;
  color: var(--base3);
}

.nullTag {
  background-color: var(--base01);
  font-style: italic;
}

.dataTag {
  background-color: var(--green);
}

.methodInput {
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: var(--base3);
  border: none;
  vertical-align: top;
  max-width: -webkit-fill-available;
}

.methodInput:focus {
  outline: 3px solid var(--cyan);
  outline-offset: -3px;
}

.methodHeading {
  font-weight: 900;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addButton {
  font-size: xx-large;
  cursor: pointer;
}

.portNameModal {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalContent {
  background-color: var(--base3);
}

.nameInput {
  border: none;
  background-color: inherit;
  width: 100%;
  font-family: inherit;
}

.nameInput:focus {
  outline: 2px solid var(--cyan);
  outline-offset: -2px;
}
