.react-draggable,
.cursor {
  cursor: move;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #f0f0f0 !important;
}

.buttonContainer {
  margin: 10px;
}

.inport {
  background-color: black;
  height: 15px;
  width: 15px;
  border: none;
  float: left;
  margin-top: 5px;
}

.outport {
  background-color: black;
  height: 15px;
  width: 15px;
  border: none;
  float: left;
  margin-top: 5px;
}

.action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}