.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 100px;
  height: 100px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.react-draggable,
.cursor {
  cursor: move;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
