.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  float: left;
  min-width: 150px;
}

.portsContainer {
  cursor: default;
}

.actionTitle {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #2185d0;
  color: white;
  font-weight: bolder;
}

.actionDivider {
  margin: 0;
}

.actionContent {
  padding: 10px;
  padding-bottom: 5px;
}

.row {
  width: 100%;
}

.row:after {
  content: "";
  /* display: table; */
  clear: both;
}

.column {
  float: left;
}
