.well {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px;
  border: 1px solid gray;
  background-color: #cacaca;
}

.wellplate {
  padding: 3px;
  border: 1px solid gray;
  margin: auto;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: max-content;
}

.wellrow {
  margin: 0;
  padding: 0;
  display: flex;
}

.wellinput {
  padding: 4px;
  width: 25px;
  border: 1px solid gray;
  height: 20px;
}

.inputbuttonleft {
  border: 1px solid gray;
  border-right: 0;
	padding: 0;
	height: 20px;
	width: 14px;
	border-radius: 3px 0 0 3px;
}

.inputbuttonright {
  border: 1px solid gray;
  border-left: 0;
	padding: 0;
	height: 20px;
	width: 14px;
	border-radius: 0 3px 3px 0;
}

.inputbuttonright:hover {
  background-color: lightgray;
}

.inputbuttonleft:hover {
  background-color: lightgray;
}

.welltext {
  border: 1px solid gray;
  border-radius: 2px;
  margin-top: 5px;
}

.wellinputcontainer {
  display: inline-block;
}

.desc {
  padding: 5px;
}