html {
  --planager-accent-1: #d33682;
  --planager-accent-2: #dc322f;
  --planager-accent-3: #cb4b16;
  --planager-accent-4: #b58900;
  --planager-accent-5: #859900;
  --planager-accent-6: #2aa198;
  --planager-accent-7: #268bd2;
  --planager-accent-8: #6c71c4;
  --planager-background: #073642;
  --planager-background2: #002b36;
  --planager-foreground: #eee8d5;
  --planager-foreground2: #fdf6e3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Solarized color variables. */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

.theme {
  --string-color: #a3eea0;
  --number-color: #d19a66;
  --boolean-color: #4ba7ef;
  --null-color: #df9cf3;
  --property-color: #6fb3d2;
}

body {
  margin: 0;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  overflow: hidden;
  background-color: var(--planager-background);
}

/* For making text unselectable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
