html {
  --planager-pink: #d33682;
  --planager-red: #dc322f;
  --planager-orange: #cb4b16;
  --planager-yellow: #b58900;
  --planager-green: #859900;
  --planager-cyan: #2aa198;
  --planager-blue: #268bd2;
  --planager-purple: #6c71c4;
  --planager-background-lighter: #073642;
  --planager-background-darker: #002b36;
  --planager-foreground-darker: #eee8d5;
  --planager-foreground-lighter: #fdf6e3;
  --planager-text-light: --planager-text-dark;
}

.dracula {
  --planager-foreground-lighter: #f8f8f2;
  --planager-foreground-darker: #f8f8f2;
  --planager-background-lighter: #44475a;
  --planager-background-darker: #282a36;
  --planager-black: #21222c;
  --planager-white: #f8f8f2;
  --planager-pink: #ff79c6;
  --planager-red: #ff5555;
  --planager-yellow: #f1fa8c;
  --planager-green: #50fa7b;
  --planager-cyan: #8be9fd;
  --planager-purple: #bd93f9;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.theme {
  --string-color: #a3eea0;
  --number-color: #d19a66;
  --boolean-color: #4ba7ef;
  --null-color: #df9cf3;
  --property-color: #6fb3d2;
}

body {
  margin: 0;
  font-family: monaco, Consolas, "Lucida Console", monospace;
  overflow: hidden;
  background-color: var(--planager-background-lighter);
}

/* For making text unselectable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
