@import "../../../node_modules/codemirror/lib/codemirror.css";
@import "../../../node_modules/codemirror/theme/solarized.css";
@import "../../../node_modules/codemirror/theme/monokai.css";
@import "../../../node_modules/codemirror/theme/darcula.css";
@import "../../../node_modules/codemirror/theme/material.css";

.varsContainer {
  display: grid;
  white-space: nowrap;
}
.cell {
  padding: 2px 5px 2px 10px;
  text-align: center;
}

.nameEdit {
  width: 100%;
}

.header {
  background-color: var(--magenta);
  font-weight: bolder;
  color: var(--base3);
}

.action {
  grid-column: 1;
}

.portID {
  grid-column: 2;
}

.value {
  grid-column: 3;
}

.name {
  grid-column: 4;
}

.name:hover {
  cursor: pointer;
}

.editor {
  min-width: 400px;
}

.sendButton {
  display: inline-block;
  width: 50%;
  background-color: var(--green);
  padding: 5px;
  color: var(--base3);
  text-align: center;
  font-weight: bold;
}

.sendButton:hover {
  background-color: var(--greenHover);
}

.evaluateButton {
  display: inline-block;
  width: 50%;
  background-color: var(--orange);
  padding: 5px;
  color: var(--base3);
  text-align: center;
  font-weight: bold;
}

.evaluateButton:hover {
  background-color: var(--orangeHover);
}
