/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.provisionlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Style the list items */
.provisionlist li {
  cursor: pointer;
  position: relative;
  padding: 5px 10px;
  background: #eee;
  /* font-size: 18px; */
  transition: 0.2s;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.provisionlist li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.provisionlist li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.provisionlist li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
.provisionInput {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 5px 10px;
  float: left;
  font-family: monospace;
}

/* Style the "Add" button */
.addBtn {
  padding: 5px 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
