.mixContent {
  max-width: 30rem;
}

.tagContainer {
  padding: 0.3rem;
}

.tag {
  color: var(--base3);
  margin-right: 0.3rem;
  padding: 0.1rem 0.3rem;
}

.ingredient {
  background-color: crimson;
}

.tool {
  background-color: blueviolet;
}
