@import "../../../../../node_modules/codemirror/lib/codemirror.css";
@import "../../../../../node_modules/codemirror/theme/solarized.css";
@import "../../../../../node_modules/codemirror/theme/monokai.css";
@import "../../../../../node_modules/codemirror/theme/darcula.css";
@import "../../../../../node_modules/codemirror/theme/material.css";

.editor {
  min-width: 400px;
}

.sendButton {
  background-color: var(--green);
  padding: 5px;
  color: var(--base3);
  text-align: center;
  font-weight: bold;
}

.sendButton:hover {
  background-color: var(--greenHover);
}

.dropdown {
  padding: 5px;
  font-weight: bolder;
}

.dropdown:hover {
  background-color: var(--base02);
}

.dropdown:hover .dropdownContainer {
  display: inline;
}

.dropdownContainer {
  display: none;
  position: absolute;
  z-index: 100;
  margin-top: 5px;
}

.editorDropdownItem {
  background-color: var(--cyan);
  padding: 5px;
  font-weight: bolder;
}

.editorDropdownItem:hover {
  background-color: var(--cyanHover);
}

#settingsContainer {
  background-color: var(--base01);
  color: var(--base3);
  position: absolute;
  left: 400px;
  width: max-content;
}

#editorContainer {
  padding: 0 1px;
}

.settingsTitle {
  font-weight: bolder;
}

.settingsRow {
  padding: 10px;
  display: block;
}
