.well {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 1px;
  border: 1px solid gray;
  background-color: #cacaca;
}

.wellplate {
  padding: 3px;
  border: 1px solid gray;
  margin: auto;
  border-radius: 5px;
  background-color: #f7f7f7;
  width: max-content;
}

.wellrow {
  margin: 0;
  padding: 0;
  display: flex;
}

.wellinput {
  width: 25px;
  border: 1px solid gray;
  font-family: inherit;
  padding: 0;
  line-height: 20px;
  vertical-align: bottom;
  text-align: center;
}

.inputbuttonleft {
  border: 1px solid gray;
  border-right: 0;
	padding: 0;
  line-height: 20px;
	width: 14px;
  border-radius: 3px 0 0 3px;
}

.inputbuttonright {
  border: 1px solid gray;
  border-left: 0;
	padding: 0;
  line-height: 20px;
	width: 14px;
	border-radius: 0 3px 3px 0;
}

.inputbuttonright:hover {
  background-color: lightgray;
}

.inputbuttonleft:hover {
  background-color: lightgray;
}

.wellText {
  background-color: inherit;
  border: none;
  font-family: inherit;
  width: 100px;
  margin-bottom: 5px;
  padding-left: 6px;
}


.wellinputcontainer {
  display: inline-block;
}

.desc {
  padding: 5px;
}