#action {
  background-color: var(--base1);
}

/* Top-level styling for the grid container. */
.actionGridContainer {
  position: absolute;
  display: grid;
  grid-auto-columns: auto;
}

/* Styling for the action top toolbar */
.actionToolbarContainer {
  background-color: var(--base03);
  color: var(--base3);
  padding: 5px 5px 0 5px;
}

.removeActionButton {
  float: right;
  background-color: var(--base01);
  border: none;
  padding: 0;
}

.removeActionButton:hover {
  background-color: var(--red);
  cursor: pointer;
  color: white;
}

.runIcon {
  cursor: pointer;
  float: right;
  padding-left: 5px;
}

.runIcon :hover {
  color: var(--green);
}

.dragHandle {
  cursor: move;
  vertical-align: middle;
  display: inline-block;
  margin-right: 2px;
}

.closeIcon {
  display: block;
  font-size: 14px;
}

/* Styling for the action content */
.mainActionContainer {
  grid-column: 2;
  grid-row: 2;
}

.actionTitle {
  font-weight: bolder;
}

.actionContent {
  cursor: default;
  background-color: var(--base3);
  display: block;
  outline: 1px solid var(--base03);
  outline-offset: -1px;
  color: var(--base03);
}

/* Styling for the ports */
.leftPortsContainer {
  grid-column: 1;
  grid-row: 2;
  display: table;
}

.rightPortsContainer {
  grid-column: 3;
  grid-row: 2;
  display: table;
}

.ports {
  vertical-align: middle;
  display: table-cell;
}

.leftPort {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: var(--violet);
}

.rightPort {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: var(--cyan);
}

.port {
  height: 15px;
  width: 15px;
  margin-bottom: 2px;
}

.port:hover {
  cursor: pointer;
}

.rightPort:hover {
  background-color: var(--cyanHover);
}

.leftPort:hover {
  background-color: var(--violetHover);
}
