#action {
  background-color: var(--base1);
}

/* Top-level styling for the grid container. */
.actionGridContainer {
  position: absolute;
  display: grid;
  grid-auto-columns: auto;
  height: max-content;
}

/* Styling for the action top toolbar */
.actionToolbarContainer {
  background-color: var(--base03);
  color: var(--base3);
  padding: 5px 5px 2px 5px;
}

.dragHandle {
  cursor: move;
  float: right;
}

/* Styling for the config panel */

.configButton {
  cursor: pointer;
  float: right;
  padding-right: 5px;
}

.configButton:hover {
  color: var(--cyan);
}

#configContainer {
  grid-column: 2;
  grid-row: 1;
}

#config {
  background-color: var(--base01);
  display: block;
  transform: translateY(-100%);
  position: absolute;
  right: 15px;
}

#removeActionButton {
  padding: 5px;
  background-color: var(--red);
  color: var(--base3);
  font-weight: bolder;
}

#removeActionButton:hover {
  background-color: var(--redHover);
  cursor: pointer;
}

/* Styling for the action content */
.mainActionContainer {
  grid-column: 2;
  grid-row: 2;
  height: max-content;
}

.actionTitle {
  font-weight: bolder;
  margin-right: 20px;
}

.actionContent {
  cursor: default;
  background-color: var(--base3);
  display: block;
  outline: 1px solid var(--base03);
  outline-offset: -1px;
  color: var(--base03);
}

/* Styling for the ports */
.leftPortsContainer {
  grid-column: 1;
  grid-row: 2;
  display: table;
  height: max-content;
}

.rightPortsContainer {
  grid-column: 3;
  grid-row: 2;
  display: table;
  height: max-content;
}
