/* Base styles for the planager */

/* Solarized color variables. */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --yellowHover: #795a00;
  --orange: #cb4b16;
  --orangeHover: #99380e;
  --red: #dc322f;
  --redHover: #942321;
  --magenta: #d33682;
  --magentaHover: #99285e;
  --violet: #6c71c4;
  --violetHover: #444779;
  --blue: #268bd2;
  --blueHover: #185988;
  --cyan: #2aa198;
  --cyanHover: #1c6b64;
  --green: #859900;
  --greenHover: #647300;
}

body {
  margin: 0;
  font-family: monospace;
  overflow: hidden;
  background-color: var(--base2);
}

/* For making text unselectable */
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Toolbar Styles */

/* The normal html file input element is really ugly so we don't show it and make our own. */
input[type="file"] {
  display: none;
}

.toolbar {
  width: 100%;
  background-color: var(--base03);
  color: var(--base3);
  font-size: 18px;
}

#toolbarTitle {
  font-weight: bolder;
  font-size: 24px;
  margin: 0px 10px;
  display: inline-block;
}

.toolbarButton {
  cursor: pointer;
  display: inline-block;
  padding: 15px;
}

.toolbarButton:hover {
  background-color: var(--cyan);
  color: var(--base03);
}

.relative {
  position: relative;
}

/* Action dropdown container is usually hidden */
.actionDropdownContainer {
  background-color: var(--base1);
  width: max-content;
  color: var(--base03);
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  display: none;
  outline: 1px solid var(--base03);
  z-index: 1000;
}

/* On hover show the action dropdown container */
.addAction:hover .actionDropdownContainer {
  display: block;
  left: 0;
}

/* dropdownActionSet is the item in the list */
.dropdownActionSet {
  position: relative;
}

/* On hover darken the actionset item */
.dropdownActionSet:hover {
  background-color: var(--base00);
}

/* And show the action list */
.dropdownActionSet:hover .actionListContainer {
  display: inline-block;
}

.textContainer {
  display: inline-block;
  width: 100%;
}

.dropdownActionSetText {
  padding: 5px 10px;
}

/* The actionlistContainer is usually hidden */
.actionListContainer {
  background-color: var(--base1);
  width: max-content;
  color: var(--base03);
  font-weight: bolder;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  display: none;
  outline: 1px solid var(--base03);
  outline-offset: -1px;
}

/* The Actions */
.dropdownAction {
  padding: 5px 10px;
}

.dropdownAction:hover {
  background-color: var(--base00);
}
