/* Base styles for the planager */

/* Solarized color variables. */
:root {
  --base03: #002b36;
  --base02: #073642;
  --base01: #586e75;
  --base00: #657b83;
  --base0: #839496;
  --base1: #93a1a1;
  --base2: #eee8d5;
  --base3: #fdf6e3;
  --yellow: #b58900;
  --orange: #cb4b16;
  --red: #dc322f;
  --magenta: #d33682;
  --violet: #6c71c4;
  --blue: #268bd2;
  --cyan: #2aa198;
  --green: #859900;
}

.react-draggable,
.cursor {
  cursor: move;
}

body {
  margin: 0;
  font-family: monospace !important;
  background: var(--base03) !important;
}

.buttonContainer {
  margin: 10px;
  z-index: 100;
  position: absolute;
}

.action {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
}
/* 
.wire {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
} */

/* Global Planager button styles */

.planagerButton {
  background-color: var(--base3);
  color: var(--base03);
  border: None;
  padding: 3px 7px;
  font-family: inherit;
  cursor: pointer;
  font-weight: 900;
}

.planagerButton:hover {
  background-color: var(--base1);
}

.planagerButton.green {
  background-color: var(--green);
  color: var(--base3);
}

.planagerButton.green:hover {
  background-color: #647300;
}

.planagerButton.blue {
  background-color: var(--blue);
  color: var(--base3);
}

.planagerButton.blue:hover {
  background-color: #146197;
}

.planagerButton.violet {
  background-color: var(--violet);
  color: var(--base3);
}

.planagerButton.violet:hover {
  background-color: #4f5391;
}

.planagerButton.red {
  background-color: var(--red);
  color: var(--base3);
}

.planagerButton.orange {
  background-color: var(--orange);
  color: var(--base3);
}

.planagerButton.cyan {
  background-color: var(--cyan);
  color: var(--base3);
}

.planagerButton.yellow {
  background-color: var(--yellow);
  color: var(--base3);
}

.planagerButton.magenta {
  background-color: var(--magenta);
  color: var(--base3);
}

.addActionButton {
  margin-bottom: 5px;
}

/* MISCELLANEOUS STYLES */
/* These prevent the dashed line around buttons. */
*:focus,
*:visited,
*:active,
*:hover {
  outline: 0 !important;
}
*::-moz-focus-inner {
  border: 0;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/* The normal html file input element is really ugly so we don't show it and make our own. */
input[type="file"] {
  display: none;
}
