.connectButton {
  background-color: var(--violet);
  color: var(--base3);
  text-align: center;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

.connectButton:hover {
  background-color: var(--violetHover);
}

.moveButton {
  background-color: var(--blue);
  color: var(--base3);
  text-align: center;
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
}

.moveButton:hover {
  background-color: var(--blueHover);
}
