.inport {
  background-color: #acacac;
  height: 15px;
  width: 15px;
  border: none;
  float: left;
  margin-top: 5px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.inport:hover {
  background-color: #575757;
}
