.outport {
  background-color: #acacac;;
  height: 15px;
  width: 15px;
  border: none;
  float: left;
  margin-top: 5px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.outport:hover {
    background-color: #575757;
}