@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("./fonts/RobotoMono-Italic.ttf");
  font-style: italic;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Mono";
  overflow: hidden;
}
