/* Top-level styling for the grid container. */
.actionGridContainer {
  position: absolute;
  display: grid;
  grid-auto-columns: auto;
}

/* Styling for the action top toolbar */
.toolbarContainer {
  grid-column: 2;
  grid-row: 1;
}

.removeActionButton {
  float: right;
  background-color: var(--base01);
  border: none;
  padding: 0;
}

.removeActionButton:hover {
  background-color: var(--red);
  cursor: pointer;
  color: white;
}

.closeIcon {
  display: block;
  color: inherit;
  font-size: 18px;
}

/* Styling for the action content */
.mainActionContainer {
  grid-column: 2;
  grid-row: 2;
}

.mainAction {
  background: white;
}

.actionTitle {
  padding: 3px 10px;
  background-color: var(--green);
  color: var(--base3);
  font-weight: bolder;
}

.actionContent {
  cursor: default;
}

/* Styling for the ports */
.leftPortsContainer {
  grid-column: 1;
  grid-row: 2;
}

.rightPortsContainer {
  grid-column: 3;
  grid-row: 2;
}

.leftPorts {
  float: right;
  cursor: default;
}

.rightPorts {
  float: left;
  cursor: default;
}
