.box {
  background: white;
  border-radius: 5px;
  border: 2px var(--base03) solid;
}

.portsContainer {
  cursor: default;
}

.actionTitle {
  padding: 3px 10px;
  background-color: var(--green) ;
  color: var(--base3);
  font-weight: bolder;
}

.actionDivider {
  margin: 0;
}

.actionContent {
  cursor: default;
}

.row:after {
  content: "";
  clear: both;
}

.column {
  float: left;
}
